<div class="container-color">
  <div class="container">
    <div class="box">
      <div class="imgBx">
        <img src="/assets/img/77.jpg" alt="" />
      </div>
      <div class="content">
        <h3>Post Title One</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero
          perspiciatis officia iure explicabo, necessitatibus quasi tempore
          saepe eos veritatis debitis voluptas aperiam! Possimus nam voluptates
          laboriosam unde vel ad fugit!
        </p>
      </div>
    </div>

    <div class="box">
      <div class="imgBx">
        <img src="/assets/img/KJK.jpg" alt="" />
      </div>
      <div class="content">
        <h3>Post Title Two</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero
          perspiciatis officia iure explicabo, necessitatibus quasi tempore
          saepe eos veritatis debitis voluptas aperiam! Possimus nam voluptates
          laboriosam unde vel ad fugit!
        </p>
      </div>
    </div>

    <div class="box">
      <div class="imgBx">
        <img src="/assets/img/1140739.jpg" alt="" />
      </div>
      <div class="content">
        <h3>Post Title Three</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero
          perspiciatis officia iure explicabo, necessitatibus quasi tempore
          saepe eos veritatis debitis voluptas aperiam! Possimus nam voluptates
          laboriosam unde vel ad fugit!
        </p>
      </div>
    </div>

  </div>
</div>
<div class="container-color-2">
  <div class="container-2">
    <a class="registr" routerLink="/about">Sign up</a> 
  </div>
</div>