<div>

    <input
      type="text" c
      lass="form-control"
      placeholder="Title..."
      [(ngModel)]="title"
    >
    <input
      type="text"
      class="form-control"
      placeholder="Text..."
      [(ngModel)]="text"
    >
  
    <input
      type="text"
      class="form-control"
      placeholder="Image URL..."
      [(ngModel)]="img"
    >
  
    <button class="btn" (click)="addPost()">Send</button>
    <small style="color:red;font-size: 15px;">{{addPost()}}</small>
  
  </div>
  