.nav {
  height: 60px;
  display: flex;
  justify-content: space-between;
  background:#DC143C;
}
ul{
  display: flex;
}
li{
  margin: 15px 30px; 
}
a{
  color: white;
  font-size: 18px;
}
li.active a {
  font-weight: bold;
  color: #333333;
  cursor: default;
}
.off {
  display: flex;
  justify-content: center;
  font-family: 'Roboto';
  margin-top: 10px;
}