/* You can add global styles to this file, and also import other style files */
* {
  list-style: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif; 
}
body {
    background: #003e46;
}
